.env
**/vendor/*
**/node_modules/*
**/venv/*
**/tmp/*
*.DS_Store
/2019-10-30-connect-onboarding/server/node/node_modules/*
/2019-12-24-issuing/.bundle
**/log/*
**/tmp/*
**/storage/*
**/node_modules
**/yarn-error.log
/2019-12-24-issuing/public/assets
*.byebug_history
**/config/master.key
/2019-10-16-webhooks/.bundle
/2019-10-16-webhooks/log/*
/2019-10-16-webhooks/tmp/*
/2019-10-16-webhooks/log/.keep
/2019-10-16-webhooks/tmp/.keep
/2019-10-16-webhooks/storage/*
/2019-10-16-webhooks/storage/.keep
/2019-10-16-webhooks/node_modules
/2019-10-16-webhooks/yarn-error.log
/2019-10-16-webhooks/public/assets
/2019-10-16-webhooks.byebug_history
/2019-10-16-webhooks/config/master.key
/2020-01-28-variable-checkout/__pycache__
/2020-01-28-variable-checkout/venv
