certifi==2021.10.8
chardet==4.0.0
Click==8.0.4
Flask==2.0.3
idna==3.3
itsdangerous==2.1.0
Jinja2==3.0.3
MarkupSafe==2.1.1
python-dotenv==0.19.2
requests==2.27.1
stripe==2.66.0
toml==0.10.2
urllib3==1.26.8
Werkzeug==2.0.2
