/* Payments Demos */
* {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: none;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  font-size: 15px;
  line-height: 1.4em;
  color: #525f7f;
}

body {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: #f8fbfd;
}

button {
  display: block;
  background: #666ee8;
  color: #fff;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  border-radius: 4px;
  border: 0;
  font-weight: 700;
  width: 100%;
  height: 40px;
  outline: none;
  cursor: pointer;
  transition: all 0.15s ease;
}
#main {
  width: 100%;
  height: 100vh;
  text-align: center;
  transition: width 0.3s ease-in-out;
}

#main.checkout:not(.success):not(.error) {
  width: calc(100% - 450px);
}
#checkout {
  max-width: 480px;
  margin: 0 auto;
  padding: 30px 0;
}
h1 {
  margin: 0 0 20px 0;
  font-size: 20px;
  font-weight: 500;
}
#main.checkout #checkout {
  visibility: visible;
  opacity: 1;
}
#payment-form, #webhooks-list {
  margin: 0 -30px;
  padding: 20px 30px 30px;
  border-radius: 4px;
  border: 1px solid #e8e8fb;
}

input {
  flex: 1;
  border-style: none;
  outline: none;
  color: #313b3f;
}

.field {
  flex: 1;
  padding: 0 15px;
  background: transparent;
  font-weight: 400;
  color: #31325f;
  outline: none;
  cursor: text;
}

.field::-webkit-input-placeholder {
  color: #aab7c4;
}
.field::-moz-placeholder {
  color: #aab7c4;
}
.field:-ms-input-placeholder {
  color: #aab7c4;
}
fieldset {
  margin-bottom: 20px;
  background: #fff;
  box-shadow: 0 1px 3px 0 rgba(50, 50, 93, 0.15),
  0 4px 6px 0 rgba(112, 157, 199, 0.15);
  border-radius: 4px;
  border: none;
  font-size: 0;
}

fieldset label {
  position: relative;
  display: flex;
  flex-direction: row;
  height: 42px;
  padding: 10px 0;
  align-items: center;
  justify-content: center;
  color: #8898aa;
  font-weight: 400;
}

fieldset label:not(:last-child) {
  border-bottom: 1px solid #f0f5fa;
}

fieldset label.state {
  display: inline-flex;
  width: 75%;
}

fieldset:not(.with-state) label.state {
  display: none;
}

fieldset label.zip {
  display: inline-flex;
  width: 25%;
  padding-right: 60px;
}

fieldset:not(.with-state) label.zip {
  width: 100%;
}

fieldset label span {
  min-width: 125px;
  padding: 0 15px;
  text-align: right;
}

fieldset .redirect label span {
  width: 100%;
  text-align: center;
}

#card-message, #debug-message {
  text-align: left;
  white-space: pre-wrap;
}

#admin {
  width: 100%;
  height: 100vh;
  text-align: center;
  transition: width 0.3s ease-in-out;
  padding-top: 30px;
}

#tools {
  margin: 0 auto;
  width: 480px;
  padding: 30px 0;
}

#tool {
  margin: 0 -30px;
  padding: 20px 30px 30px;
  border-radius: 4px;
  border: 1px solid #fa8389;
}

#card-error {
  margin: 30px 0px;
  padding: 10px;
  background-color: #fff8f5;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-radius: 4px;
  border-top: 1px solid #f5925e;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: rgb(245, 146, 94);
  color: #cd3d64;
  box-shadow: 0 7px 14px 0 rgba(60,66,87, .12), 0 3px 6px 0 rgba(0,0,0, .12);
}


/* Billing Demo */
#app {
  margin: 0 auto;
  max-width: 960px;
  margin-bottom: 100px;
  color: #fff;
}

.pricing {
  display: flex;
  margin-top: 40px;
}

.pricing-overview {
  flex-grow: 1;
  margin: 0 -30px;
  padding: 20px 30px 30px;
  border-radius: 4px;
  border: 1px solid #e8e8fb;
}

h1 {
  font-size: 32px;
  font-weight: 400;
  margin: 0;
  text-align: center;
}

.plans {
  display: flex;
  align-items: center;
  margin-top: 45px;
}

.plans h2 {
  font-weight: 500;
  font-size: 20px;
  margin: 0;
  margin-bottom: 8px;
}

.plans h3 {
  margin: 0;
  font-weight: 400;
  font-size: 15px;
  margin-bottom: 30px;
}

.plan {
  flex-grow: 1;
  padding: 25px 15px;
  text-align: center;
  margin-right: 30px;
  border-top: 3px solid transparent;
  box-shadow: 0 1px 6px 0 rgba(50, 50, 93, 0.15);
  border-radius: 4px;
}

.plan.active, .plan.recommended {
  flex-grow: 2;
  border-top: 3px solid #d782d9;
  box-shadow: 0 15px 35px 0 rgba(50, 50, 93, 0.1), 0 5px 15px 0
  rgba(0, 0, 0, 0.07);
  padding-top: 20px;
  padding-bottom: 56px;
}

.plan button {
  background: #525f7f;
  color: white;
  min-width: 190px;
  margin: 0 auto;
}

.plan.recommended button {
  background: #d782d9;
}
