<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Bacs Debit Photo Purchase</title>
    <link rel="stylesheet" href="styles.css" title="" type="text/css">
    <script src="https://js.stripe.com/v3/"></script>
  </head>
  <body>
    <div id="main">
      <div id="container">
        <div id="panel">
          <h1>Bacs Debit Purchase</h1>
          <form action="redirect" method="POST">
          <img
            src="https://picsum.photos/280/320?random=4"
            width="140"
            height="160"
            />
            <button type="submit">Purchase a Photo Print</button>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
