<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://stripe-samples.github.io/developer-office-hours/demo.css" type="text/css" />
  </head>
  <body>
    <div id="main" style="padding: 60px">
      <h1>Thanks for your order</h1>
    </div>
  </body>
</html>
